@* Views/Home/_PartialAboutCard.cshtml *@
<div class="card">
    <div class="card-header">
        About Me
    </div>
    <div class="card-body">
        <h5 class="card-title">Blog Owner: Ngoc Chung</h5>
        <p class="card-text">
            Hello! I'm Ngoc Chung, a passionate blogger sharing thoughts on technology, lifestyle, and more.
            Thank you for visiting my blog. I hope you find the content helpful and engaging!
        </p>
    </div>
</div>
